

.container {
  margin: auto;
  width: 400px;
  text-align: center;
  background-color: #6b7574;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px;
}

.display-panel {
  text-align: right;
  overflow: hidden;

}

.rows {
  display: flex;  
  justify-content: space-between;
}

.btn {
  flex: 1;
  margin: 5px;
  aspect-ratio: 1 / 0.8;
  border-radius: 5px;
  font-size: 24px;  
}

.btn-others {
  flex: 1;
  margin: 5px;
  aspect-ratio: 1 / 0.4;
  border-radius: 5px;
  font-size: 24px;  
}

.display {
 
  margin: 10px;
  font-size: 48px;
}

.display-panel {
  border-radius: 10px;
  background-color: #d5e3e2;
}

button:hover {
  filter: brightness(0.75);
}

button:active {
  filter: brightness(0.5);
}

button {
  box-shadow: 3px 3px 3px;
}

#main-wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#secondary-wrap {
  display: table;
  table-layout: fixed;
  width: 100%;
}

#main, #secondary {
  float: right;
}